.change-scale-btn {
    display: block;
    width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.trigger {
    display: block;
    width: 90%;
    height: 250px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}

.trigger:active {
    background-color: rgb(209, 102, 102);
}