<div id="background">
    <img id="background-img" src="assets/background.jpg"/>
    <groundhog-target #farTarget1 id="far-target-1" [isSmall]="true"></groundhog-target>
    <groundhog-target #farTarget2 id="far-target-2" [isSmall]="true"></groundhog-target>

    <groundhog-target #target1 id="target-1"></groundhog-target>
    <groundhog-target #target2 id="target-2"></groundhog-target>
    <groundhog-target #target3 id="target-3"></groundhog-target>
    <groundhog-target #target4 id="target-4"></groundhog-target>
    
</div>
<div id="zoom-in-sight">
    <div class="vertical"></div>
    <div class="horizontal"></div>
    <div id="star"></div>
</div>
<div id="vr-gun">
    <div id="front-sight">
        <div class="circle"></div>
        <div class="up"></div>
        <div class="down"></div>
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <div id="bullet-horizontal"></div>
    <div id="bullet-vertical"></div>
    
    <div id="vr-gun-front" class="vr-gun-side">
        <img src="assets/gun.png"/>
    </div>
    <div id="vr-gun-right" class="vr-gun-side">
        <img src="assets/gun-top.png"/>
    </div>
    <div id="vr-gun-left" class="vr-gun-side">
    </div>
    <div id="vr-gun-top" class="vr-gun-side">
    </div>
    <div id="vr-gun-bottom" class="vr-gun-side">
        <img src="assets/gun-back.png"/>
    </div>
    <div id="vr-gun-back" class="vr-gun-side">
        <img src="assets/gun.png"/>
    </div>
</div>